@import "tailwindcss";

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-left {
  animation: slideLeft 0.7s ease-in-out;
}

.animate-slide-right {
  animation: slideRight 0.7s ease-in-out;
}

